@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
	--color-primary: #ffcc00;
	--color-danger: #cd0067;
	--color-success: #88c23a;
	--color-warning: #ffcc00;
	--color-white: #fff;
	--color-info-dark: #7d8da1;
	--color-info-light: #dce1eb;
	--color-dark: #363949;
	--color-light: rgba(205, 205, 205, 0.18);
	--color-primary-variant: #111e88;
	--color-dark-variant: #677483;
	--color-background: #f6f6f9;
	--failed-validation: #ff7782;
	--success-validation: #4ade80;

	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--color-light);
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	/* appearance: none; */
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	width: 100%;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	font-size: 0.88rem;
	background-color: var(--color-background);
	user-select: none;
	color: var(--color-dark);
}

.container {
	display: grid;
	width: 96%;
	margin: 0 auto;
	gap: 1.8rem;
	grid-template-columns: 14rem auto;
}

a {
	color: var(--color-dark);
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 0.87rem;
}

h4 {
	font-size: 0.8rem;
}

h5 {
	font-size: 0.77rem;
}

small {
	font-size: 0.75rem;
}

.profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	overflow: hidden;
}

.text-muted {
	color: var(--color-info-dark);
}

p {
	color: var(--color-dark-variant);
}

b {
	color: var(--color-dark);
}

.primary {
	color: var(--color-primary);
}

.danger {
	color: var(--color-danger);
}

.success {
	color: var(--color-success);
}

.warning {
	color: var(--color-warning);
}

/* Aside Start */

aside {
	height: 100vh;
}

aside .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}

aside .logo {
	display: flex;
	margin-left: 2rem;
}

aside .logo img {
	width: 9rem;
	/* height: 2rem; */
}

#icon {
	display: none;
}

aside .close {
	display: none;
}

/* Sidebar */
aside .sidebar {
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}

aside h3 {
	font-weight: 500;
}

aside .sidebar a {
	display: flex;
	color: var(--color-info-dark);
	margin-left: 2rem;
	gap: 1rem;
	align-items: center;
	position: relative;
	height: 3.7rem;
	transition: all 300ms ease;
}

aside .sidebar a span {
	font-size: 1.6rem;
	transition: all 300ms ease;
}

aside .sidebar a:last-child {
	position: absolute;
	bottom: 2rem;
	width: 100%;
}

aside .sidebar a.active {
	background: var(--color-light);
	color: var(--color-primary);
	margin-left: 0;
}

aside .sidebar a.active:before {
	content: "";
	width: 6px;
	height: 100%;
	background: var(--color-primary);
}

aside .sidebar a.active span {
	color: var(--color-primary);
	margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
	color: var(--color-primary);
}

aside .sidebar a:hover span {
	margin-left: 1rem;
}

aside .sidebar .message-count {
	background: var(--color-danger);
	color: var(--color-white);
	padding: 2px 10px;
	font-size: 11px;
	border-radius: var(--border-radius-1);
}

/* Main Start */
main {
	display: grid;
	grid-template-rows: max-content auto max-content;
	margin-top: 1.4rem;
}

main .main-left {
	display: flex;
	justify-content: space-between;
}

main .main-left .left .date {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-light);
	border-radius: var(--border-radius-1);
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
	width: 13rem;
}

main .main-left .left .date p {
	font-size: 1.2rem;
	margin-right: 0.7rem;
}

main .main-left .left .date input[type="date"] {
	background: transparent;
	color: var(--color-dark);
}

main .main-left .right .top {
	display: flex;
	gap: 2rem;
}

main .main-left .right .top button {
	display: none;
}

main .main-left .right .top .profile {
	display: flex;
	gap: 1rem;
	text-align: right;
	background: var(--color-white);
	padding: 0.5rem 1.5rem;
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

main .main-left .right .top .profile:hover {
	box-shadow: none;
}

/* Index PHP */
.activation-success {
	padding: 1rem;
	background: var(--success-validation);
	color: var(--color-white);
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 1rem;
	text-align: justify;
	margin-bottom: 1rem;
}

.activation-failed {
	padding: 1rem;
	background: var(--failed-validation);
	color: var(--color-white);
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 1rem;
	text-align: justify;
	margin-bottom: 1rem;
}

.table {
	margin-top: 3rem;
	text-align: justify;
}

.btn-top-table {
	display: flex;
	align-items: center;
}

.btn-top-table .add-new {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 1.3rem;
	font-size: 1.1rem;
	background-color: var(--color-primary);
	border-radius: 0.5rem;
	color: var(--color-white);
	font-weight: 500;
}

.btn-top-table .add-new span {
	transform: scale(0.7);
}

.btn-top-table .add-new:hover,
.table .add-new-button:hover,
.add-new-submenu:hover {
	background-color: #e1b400;
}

.table .table-submenu {
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
	font-size: 1rem;
}

.table .table-menu,
.table .table-role {
	width: 50%;
	margin-top: 2rem;
	border-collapse: collapse;
	font-size: 1rem;
}

th,
td {
	border-top: 3px solid var(--color-light);
	border-bottom: 3px solid var(--color-light);
	font-size: 1rem;
	padding: 1rem;
}

th {
	/* background-color: var(--color-primary); */
	color: var(--color-dark);
}

/* tr:nth-child(even) {
  background-color: var(--color-light);
} */

tr:hover {
	background-color: var(--color-light);
}

tr:nth-child(1):hover {
	background-color: var(--color-background);
}

table .button {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	gap: 1rem;
}

table .button .cta-success {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 0.7rem;
	background-color: var(--color-success);
	border-radius: 0.5rem;
	color: var(--color-white);
	font-weight: 500;
}

table .button .cta-warning {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 0.7rem;
	background-color: var(--color-warning);
	border-radius: 0.5rem;
	color: var(--color-white);
	font-weight: 500;
}

table .button .cta-danger {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 0.7rem;
	background-color: var(--color-danger);
	border-radius: 0.5rem;
	color: var(--color-white);
	font-weight: 500;
}

table .button .cta-success:hover {
	background-color: #7baf36;
}

table .button .cta-warning:hover {
	background-color: #e1b400;
}

table .button .cta-danger:hover {
	background-color: #b8025d;
}

/* Footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin-top: 5rem;
	background-color: var(--color-white);
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow);
}

footer:hover {
	box-shadow: none;
}

/* Media Queries */
@media (max-width: 1366px) {
	.container {
		width: 94%;
		grid-template-columns: 7rem auto;
	}

	aside .top {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	aside .logo {
		display: flex;
		margin-left: 0;
	}

	aside .logo img {
		width: 0;
	}

	aside .logo #logo {
		display: none;
	}

	aside .logo #icon {
		width: 100%;
	}

	#icon {
		/* margin: 0 1.5rem; */
		display: flex;
		justify-content: start;
		height: 3rem;
	}

	aside .logo h2 {
		display: none;
	}

	aside .sidebar h3 {
		display: none;
	}

	aside .sidebar a {
		width: 5.6rem;
	}

	aside .sidebar a:last-child {
		position: relative;
		margin-top: 1.8rem;
	}
}

/* Tablet */
@media (max-width: 768px) {
	.container {
		width: 90%;
		grid-template-columns: 1fr;
	}

	aside {
		position: fixed;
		left: 0;
		background: var(--color-white);
		width: 18rem;
		z-index: 3;
		box-shadow: 1rem 3rem 4rem var(--color-light);
		height: 100vh;
		padding-right: var(--card-padding);
		display: none;
	}

	aside .logo {
		margin-left: 1rem;
	}

	aside .logo #logo {
		width: 9rem;
		display: block;
	}

	aside .top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 1.4rem;
	}
	
	aside .logo {
		display: flex;
		margin-left: 2rem;
	}
	
	aside .logo img {
		width: 9rem;
	}

	#icon {
		display: none;
	}

	aside .sidebar h3 {
		display: inline;
	}

	aside .sidebar a {
		width: 100%;
		height: 3.4rem;
	}

	aside .sidebar a:last-child {
		position: absolute;
		bottom: 5rem;
	}

	aside .close {
		display: inline-block;
		cursor: pointer;
	}

	main {
		margin-top: 8rem;
		padding: 0 1rem;
	}

	main .main-left .right {
		width: 50%;
		margin: 0 auto 4rem;
	}

	main .main-left .right .top {
		position: fixed;
		top: 0;
		left: 0;
		align-items: center;
		padding: 0 0.8rem;
		height: 4.6rem;
		background: var(--color-white);
		width: 100%;
		margin: 0;
		z-index: 2;
		box-shadow: 0 1rem 1rem var(--color-light);
		justify-content: end;
	}

	main .main-left .right .top button {
		display: inline-block;
		background: transparent;
		cursor: pointer;
		color: var(--color-dark);
		position: absolute;
		left: 1rem;
	}

	main .main-left .right .top button span {
		font-size: 2rem;
	}

	main .insights {
		grid-template-columns: 1fr;
	}

	main .insights > div {
		align-items: center;
		justify-content: center;
	}

	main .main-left .right .top .profile {
		box-shadow: none;
	}

	.table .activation {
		width: 100%;
	}

	table {
		width: 100%;
	}

	.modal-container {
		height: 18rem;
		width: 29rem;
	}

	.mod-container input,
	.submenu-container input,
	.submenu-container .input-group .select-menu {
		width: 25rem;
	}

	.table .table-menu,
	.table .table-role {
		width: 100%;
	}
}

/* Mobile Phone */
@media (max-width: 450px) {
	html {
		font-size: 55%;
	}
}
