:root {
	--yellow: #ffcc00;
	--red: #cd0067;
	--green: #88c23a;
	--white: #fff;
	--white-gray: #f0f0f0;
	--gray: #cecece;
	--black: #000;
	--shadow: rgba(132, 139, 200, 0.18);
	--box-shadow: 0 2rem 3rem var(--shadow);
}

.kembali {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6rem;
	width: 74%;
	margin-left: 22%;
	margin-right: 4%;
}

.kembali .btn-delete {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 1rem;
	background-color: var(--red);
	border-radius: 0.5rem;
	color: var(--white);
}

.kembali .btn-delete:hover {
	background-color: #b8025d;
}

.kembali .btn-kembali h3 {
	font-size: 1rem;
	font-weight: 500;
}

.kembali .btn-delete h3 {
	font-size: 1rem;
	font-weight: 500;
	margin-left: 0.5rem;
}

.kembali .btn-kembali span {
	transform: scale(0.7);
}

.keranjang,
.transaksi {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-top: 6rem;
	width: 74%;
	margin-left: 22%;
	margin-right: 4%;
	margin-top: 1.5rem;
}

.keranjang .product-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	border: 2px solid var(--gray);
	padding: 1rem;
}

.transaksi .detail {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	border: 2px solid var(--gray);
	padding: 1rem 2rem;
}

.keranjang .product-item img {
	height: 8rem;
	object-fit: cover;
	margin-right: 1.5rem;
}

.transaksi .detail .title {
	width: 100%;
}

.keranjang .product-item .title .product-title,
.transaksi .detail .title .product-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.keranjang .product-item .title .product-title h1,
.transaksi .detail .title .product-title h1 {
	font-size: 1.5rem;
	font-weight: 600;
}

.keranjang .product-item .title .product-title a,
.transaksi .detail .title .product-title a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.keranjang .product-item .title .product-title a span,
.transaksi .detail .title .product-title a span {
	color: var(--yellow);
	cursor: pointer;
}

.keranjang .product-item .title .product-title a span:hover, 
.transaksi .detail .title .product-title a span:hover {
	color: var(--black);
}

.keranjang .product-item .title .jumlah,
.transaksi .detail .title .jumlah {
	margin-bottom: 1rem;
}

.keranjang .product-item .title .jumlah label,
.keranjang .product-item .title .product-price label,
.transaksi .detail .title .jumlah label,
.transaksi .detail .title .product-price label,
.total label {
	font-size: 0.8rem;
}

.keranjang .product-item .title .jumlah h4,
.keranjang .product-item .title .product-price h4,
.transaksi .detail .title .jumlah h4,
.transaksi .detail .title .product-price h4,
.total h4 {
	font-size: 1.3rem;
	font-weight: 500;
}

.keranjang .product-item .title .product-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20rem;
}

.transaksi .detail .title .product-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.bayar {
	display: flex;
	justify-content: end;
	align-items: center;
	/* width: 78%; */
	margin-left: 22%;
	margin-top: 2rem;
	padding: 0 4% 1rem 0;
}

.bayar .total {
	margin-right: 1rem;
}

.bayar .checkout {
	padding: 0.7rem 1rem;
	background-color: var(--yellow);
	border-radius: 0.5rem;
	color: var(--white);
	font-weight: 500;
}

.bayar .checkout:hover {
	background-color: #e1b400;
}

/* Modal Pesanan */
.modal-pesanan {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.pesanan-container {
	display: block;
	position: relative;
	background-color: var(--white);
	margin: 4% auto;
	color: var(--black);
	padding: 3rem;
	width: 35rem;
	border-radius: 1rem;
	animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.pesanan-container .close-icon {
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: var(--gray);
	transform: scale(0.9);
}

.pesanan-container .close-icon:hover {
	color: #aeaeae;
}

.pesanan-container h5 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.8rem;
}

.pesanan-container .pesanan {
	display: grid;
	grid-template-columns: max-content auto max-content max-content;
	gap: 1rem;
}

.pesanan-container p {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 3rem;
}

.pesanan-container .btn {
	display: flex;
	justify-content: end;
	text-align: center;
}

.pesanan-container .btn .cancel {
	font-family: "Poppins", sans-serif;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	background-color: var(--gray);
	color: var(--white);
}

.pesanan-container .btn .cancel:hover {
	background-color: #aeaeae;
}

.logout-container .btn .logout {
	font-family: "Poppins", sans-serif;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	background-color: var(--yellow);
	color: var(--white);
	margin-left: 1rem;
}

.logout-container .btn .logout:hover {
	background-color: #e1b400;
}
